.container{
    border: 1px solid black;
    width: fit-content;
    border-radius: 10%;
    margin: auto;
    padding: 10px 50px 20px 50px;
    
}
h1{
    color: #808080;
}
.calculate{
    padding-left: 50px;
    font-weight: bold;
}
#principal{
    margin-left: 15px;
}
input{
    margin-left: 10px;
}
select{
    margin-left: 5px;
}

#copy{
    font-size: 18px;
    font-weight: 500;
}
