body {
    background-color:black;
    font-family:arial;color:white
}

.maindiv{
    background-color: white;
    color: black;
    align-items:center;
    width: 500px;
    border-radius: 25px;
    margin: auto;
    padding: 20px;
    
}
h1{color:grey;font-family:verdana}

.calculate{
    padding-left: 50px;
    font-weight: bold;
}
#principal{
    margin-left: 15px;
}
input{
    margin-left: 10px;
}
select{
    margin-left: 5px;
}

#copy{
    font-size: 18px;
    font-weight: 500;
}
button{
    margin-top: 15px;
} 
footer{
    margin-top: 15px;
}
